:root{
    --light: rgb(241, 244, 248);
    --dark: rgb(33, 37, 41);
    --grey:rgb(66, 74, 82);
}

body{
    font-family: sans-serif;
    text-align: center;
    overflow: hidden;
    min-width: 25rem;
    max-width: 25rem;
}

a {
    color: currentColor;
}

.m-3{
    margin: 1rem;
}

.m-auto{
    margin: auto;
}

.mb-auto{
    margin-bottom: auto !important;
}

.my-0{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-1{
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.px-1{
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
}

.container{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.log{
    padding: 0.25rem;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    max-width: 50vh;
    max-height: 50vh;
    overflow-y: auto;
    text-align: start;
}

hr{
    width: 100%;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.title{
    margin: 0;
    align-content: center;
    align-items: center;
}

.btn{
    border: transparent;
    background: transparent;
    margin: 0.25rem auto;
    flex: 1 0 auto;
    width: max-content;
    padding: 0.5rem;
    box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.4);
    font-size: 1rem;
    font-weight: bold;
    align-content: center;
    align-items: center;
}

.btn:hover{
    background: blueviolet;
    color: white;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.4);
}

.border-color{
    border: solid blueviolet;
    border-radius: 0.25rem;
}

.file-name{
    padding: 1rem;
}

.additional-options{
    text-align: start;
}

.text-muted{
    color: var(--grey);
}

.row{
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.form-checkbox{
    margin: 0.5rem;
}

label.checkbox-text{
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.footer{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
}

.text-default{
    color: var(--dark);
}

.text-danger{
    color: #dc3545;
}

.bg-auto{
    background-color: var(--dark);
    color: var(--light);
}

.bg-danger{
    background-color: #dc3545;
}

.bg-success{
    background-color: #198754;
}

.bg-warning{
    background-color: #fd7e14;
}

.bg-debug{
    background-color: #0d6efd;
}

.d-none{
    display: none;
}

@media (prefers-color-scheme: dark) {
    :root{
        --grey: rgb(132, 148, 164);
    }

    .text-default{
        color: var(--light);
    }

    body{
        color: var(--light);
        background: var(--dark);
    }

    .btn {
        color: var(--light);
    }
}

